// Base Colors

$white: #fff;
$gray-1: #ecf0f1;
$gray-2: #bdc3c7;
$gray-3: #95a5a6;
$gray-4: #7f8c8d;
$black: #222;
$red: #e74c3c;
$orange: #e67e22;
$yellow: #f1c40f;
$green: #2ecc71;
$teal: #1abc9c;
$blue: #3498db;
$indigo: #34495e;
$purple: #9b59b6;

// Brand Colors

$primary-color: $green;
$secondary-color: $red;
$tertiary-color: $teal;
