
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:700|Work+Sans:300'); // sass-lint:disable-line no-url-domains no-url-protocols

$body-font: 'Work Sans', sans-serif;
$header-font: 'Libre Baskerville', serif;
$default-font-size: 16px;
$default-header-font-size: 2em;
$default-line-height: 1.5;
$default-font-weight: 300;
